--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn
python-multipart
pymongo
python-dotenv
pydantic
email-validator
python-jose
cryptography
passlib
bcrypt==4.0.1
google-genai
pinecone
pdfplumber
requests
httpx
apscheduler
pypdf
sentence-transformers